<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    {% load static %}
    {% block title %}{% endblock title %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'css/iziToast.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <script src="https://kit.fontawesome.com/923c5db4bc.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/iziToast.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                var docHeight = $(window).height();
                var footerHeight = $('#footer').height();
                var footerTop = $('#footer').position().top + footerHeight;
                var marginTop = (docHeight - footerTop + 10);

                if (footerTop < docHeight)
                    $('#footer').css('margin-top', marginTop + 'px');
                else
                    $('#footer').css('margin-top', '0px');
            }, 250);
        });
    </script> 
</body>
</html>