{% extends 'base.html' %} {% block title %}
<title>Photo Booth | Home</title>
{% endblock title %} {% block navlinks %}
<li class="nav-item active">
    <a href="{% url 'home' %}" class="nav-link">Home</a>
</li>
<li class="nav-item">
    <a href="{% url 'image_to_text' %}" class="nav-link">Image to Text</a>
</li>
<li class="nav-item">
    <a href="{% url 'text_to_speech' %}" class="nav-link">Text to Speech</a>
</li>
{% endblock navlinks %} {% block body %}
<h2>Work for this section is currently under progress</h2>
{% endblock body %}